/*
    styled using css-grid:
    1. https://css-tricks.com/snippets/css/complete-guide-grid/
    2. https://www.joshwcomeau.com/css/full-bleed/
    3. https://www.joshwcomeau.com/css/custom-css-reset/
*/

.wrapper {
    display: grid;
    /*grid-template-columns:   1fr min(65ch, 100%) 1fr;*/
    grid-template-columns:
        minmax(0, 1fr) minmax(0, 10fr) minmax(0, 1fr);

    /*Force use of mobile site*/
    max-width: 700px;
    overflow: auto;
    margin: 0 auto
}

.wrapper>* {
    grid-column: 2;
}

.full-bleed {
    width: 100%;
    grid-column: 1 / 4;
}

.w3-button {
    padding: 15px 16px;
    color: black;
    background-color: grey;
    text-align: left;
}

.w3-display-left {
    position: absolute;
    /* top:95%; */
    left: 25%;
    transform: translate(0%, -50%);
    -ms-transform: translate(-0%, -50%)
}


.w3-display-right {
    position: absolute;
    /* top:95%; */
    right: 25%;
    transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%)
}


.fbIcon {
    height: 30px;
    width: auto;
}