/*
    styled using css-grid:
    1. https://css-tricks.com/snippets/css/complete-guide-grid/
    2. https://www.joshwcomeau.com/css/full-bleed/
    3. https://www.joshwcomeau.com/css/custom-css-reset/
*/

.wrapper {
    display: grid;
    /*grid-template-columns:   1fr min(65ch, 100%) 1fr;*/
    grid-template-columns:
        minmax(0, 1fr) minmax(0, 10fr) minmax(0, 1fr);

    /*Force use of mobile site*/
    max-width: 800px;
    overflow: auto;
    margin: 0 auto
}

.wrapper>* {
    grid-column: 2;
}

.full-bleed {
    width: 100%;
    grid-column: 1 / 4;
}

.w3-button {
    padding: 15px 16px;
    color: #12258d;
    background-color: grey;
    text-align: left;
}

.fbIcon {
    height: 30px;
    width: auto;
}