/*
    styled using css-grid:
    https://css-tricks.com/snippets/css/complete-guide-grid/
    */

@media (max-width: 720px) {
    /* applies if your viewport width is equal to or less than 720px */
    .container {
        grid-template-columns: [column1-start] 0fr [column1-end] 12fr [column2-end] 0fr [column3-end];
    }
    pre {
        margin-left: -65%;
    }
}

@media (min-width: 721px) {
    .container {
        grid-template-columns: [column1-start] 2fr [column1-end] 8fr [column2-end] 2fr [column3-end];
    }
    pre {
        margin-left: -15%;
    }
}

.container {
    /* grid | inline-grid | subgrid; */
    display: grid;

    grid-template-rows: [row1-start] auto [row1-end] auto [row2-end] auto [row3-end];
    grid-template-areas: "header header header" "left-sidebar main right-sidebar" ". . .";

    /* this two may not be needed */
    grid-column-gap: 1px;
    grid-row-gap: 1px;

    /* start | end | center | stretch; */
    /* align, content inside a grid item, along horizontal ie to the left or right */
    justify-items: center;

    /* start | end | center | stretch; */
    /* align, content inside a grid item, top or bottom */
    align-items: center;

    /* start | end | center | stretch | space-around | space-between | space-evenly; */
    /* sets the alignment of the grid within the grid container. left or right.
        esp if ua grid is less than the size of its grid container*/
    justify-content: stretch;

    /* start | end | center | stretch | space-around | space-between | space-evenly; */
    /* sets the alignment of the grid within the grid container. top or bottom.
        esp if ua grid is less than the size of its grid container*/
    align-content: stretch;


}

.item-header {
    grid-area: header;

    grid-column-start: column1-start;
    grid-column-end: column3-end;
    grid-row-start: row1-start;
    grid-row-end: row1-end;
}

.item-left-sidebar {
    grid-area: left-sidebar;

    grid-column-start: column1-start;
    grid-column-end: column1-end;
    grid-row-start: row1-end;
    grid-row-end: auto;

    justify-self: center;
}

.item-main {
    grid-area: main;

    grid-column-start: column1-end;
    grid-column-end: column2-end;
    grid-row-start: row1-end;
    grid-row-end: auto;

    /* start | end | center | stretch; */
    /* Aligns the content inside a grid item left to right */
    justify-self: center;
    /* start | end | center | stretch; */
    /* aligns top bottom */
    align-self: start;

    /* https://developer.mozilla.org/en-US/docs/Web/CSS/overflow */
    max-width: 100%;
    overflow: auto;
}

.item-right-sidebar {
    grid-area: right-sidebar;

    grid-column-start: column2-end;
    grid-column-end: column3-end;
    grid-row-start: row1-end;
    grid-row-end: auto;

    justify-self: center;
}

pre.prettyprint {
    padding: 2px;
    border: 0px !important;
}
